<mat-card class="example-card">
    <mat-card-header class="head">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Document Classifier | Vision API</mat-card-title>
      <mat-card-subtitle>Using Vision API</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content >
      <p>
        An auto document classifier made out of Google Vision APi, Python backend algorithm and Mongo DB data storage.
      </p>
    </mat-card-content>
    <mat-card-actions class="action" style="text-align: right;">
      <button  routerLink="/upload" routerLinkActive="active" mat-raised-button color="accent" >
        Go To Solution</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header class="head">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Document Classifier | Tesseract</mat-card-title>
      <mat-card-subtitle>Using Tesseract</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content >
      <p>
        An auto document classifier made out of Tesseract, Python backend algorithm and Mongo DB data storage.
      </p>
    </mat-card-content>
    <mat-card-actions class="action" style="text-align: right;">
      <button  routerLink="/upload" routerLinkActive="active" mat-raised-button color="accent" disabled >
        Go To Solution</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>