input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

table {
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 2%;
  }

  .mat-header-row th,tr {
    text-align: left;
}
.mat-success {
    background-color: green;
    color: #fff;
}
a{
    color: white;
    text-decoration: none;
}

