<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="font-size: 25px;"><a routerLink="/home" routerLinkActive="active">Alpha Coders | Infosys STG | Makeathon 7</a></span>
      <span class="center-space"></span>
      <span style="padding: 10px;"><a routerLink="/solutions" routerLinkActive="active" style="font-size: 15px;">Solutions</a></span>
      <span style="padding: 10px;"><a href="#" style="font-size: 15px;"></a></span>
      <span style="padding: 10px;"><a routerLink="/team" routerLinkActive="active" style="font-size: 15px;">The Team</a></span>
    </mat-toolbar-row>